<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Join !</title>
  </head>
  <body>
    <h1>Join my WebSite!(Ejs)</h1>
    <section class="messages"></section>
    <form action="/join" method="post">
      email : <input type="text" name="email" /><br />
      password : <input type="password" name="password" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
