<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Main Page</title>
  </head>
  <body>
    <h1>Main Page</h1>
    <h3>Welcome, <%= id %>번째 가입고객님!!</h3>

    <p>asadsdasdasasdasasdasasdadsadsasdasdas</p>

    <div><a href="/logout">로그아웃</a></div>
  </body>
</html>
