<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>이름과 이메일</title>
  </head>
  <body>
    <h1>내 이름</h1>
    <h2><%= myName %></h2>
    <br />
    <h1>내 이메일</h1>
    <h2><%= myEmail %></h2>
  </body>
</html>
